@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #800000;
    --second-main-color: #B41818;
    --dark-blue: #2f7382;
    --grey: #ababab;
    --green: #72C07F;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.create-project-page {
    margin: 0px 392px;
}

.create-project-form {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    height: 100%;
}

.create-project-page h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 5rem;
    padding: 20px 0px 30px 0px;
}

.create-project-input-container input{
    width: 100%;
}

.create-project-input-container {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.create-project-container {
	margin-top: 100px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 860px;
	max-width: 100%;
	min-height: 620px;
}

.create-project-form input, .create-project-form textarea {
    width: 100%;
	background-color: #ccc;
	border: none;
    border-radius: 5px;
	padding: 14px 12px;
	margin: 8px 0;
}