@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #800000;
    --second-main-color: #B41818;
    --dark-blue: #2f7382;
    --grey: #ababab;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section.section {
    min-height: 100vh;
}

.overlay-home {
    position: absolute;
    background: rgba(57, 57, 57, 0.3);
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome img.header-image {
    margin-top: 70px;
    height: 91.55vh;
    object-fit: cover;
    width: 100vw;
}

/* .welcome h2 {
    font-size: 10rem;
    padding-top: 50px;
    font-family: 'Yeseva One', cursive;
} */

/* .welcome h2 img {
    height: 10rem;
    width: auto;
} */

/* .welcome img.schoolr-image {
    width: 40vw;
    padding: 15px 0px 150px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* Slider */

#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
}