@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #800000;
    --second-main-color: #B41818;
    --dark-blue: #2f7382;
    --grey: #ababab;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 60px;
}

.login-form h1 {
	font-weight: bold;
	margin: 0;
	padding-bottom: 50px;
	font-size: 3rem;
	font-family: 'Yeseva One', cursive;
}

span {
	font-size: 14px;
	padding-bottom: 30px;
}

button {
	border-radius: 20px;
	border: 1px solid var(--second-main-color);
	background-color: var(--second-main-color);
	color: #FFFFFF;
	font-size: 1.5rem;
	padding: 12px 45px;
	margin-top: 20px;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

.login-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form {
	font-size: 1.4rem;
}

.login-form input {
	background-color: #eee;
	border: none;
	padding: 14px 35px;
	margin: 8px 0;
	width: 100%;
}

.container {
	margin-top: 75px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 930px;
	max-width: 100%;
	min-height: 600px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.sign-in-container {
	left: 0;
	width: 58%;
	z-index: 2;
}

.overlay-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}

.overlay {
	position: relative;
	left: 0;
	height: 100%;
	width: 100%;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-right: 20px;
}

.image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

/* responsiveness */

@media (max-width: 1000px) {
	.container {
		margin-top: 100px;
		width: 730px;
		min-height: 500px;
	}

	.login-page .form form {
		width: 300px;
		display: flex;
	}
}

@media (max-width: 800px) {
	.container {
		margin-top: 100px;
		width: 630px;
		min-height: 500px;
	}
}

@media (max-width: 700px) {
	.container {
		margin-top: 130px;
		width: 550px;
	}

	.overlay-container {
		width: 0;
	}

	.form-container {
		width: 100%;
	}

	.login-page .form form {
		width: 400px;
		display: flex;
	}
}

@media (max-width: 650px) {
	.container {
		width: 450px;
	}
}

@media (max-width: 550px) {
	.login-page .form form {
		width: 350px;
		display: flex;
	}
}

@media (max-width: 500px) {
	.container {
		width: 350px;
	}

	.login-page .form form {
		width: 300px;
		display: flex;
	}
}

@media (max-width: 400px) {
	.container {
		width: 300px;
	}

	.login-page .form form {
		width: 200px;
		display: flex;
	}
}