@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #800000;
    --second-main-color: #B41818;
    --dark-blue: #2f7382;
    --grey: #ababab;
    --green: #72C07F;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.profile-page {
    margin: 125px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-page h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 5.5rem;
    /* position: absolute; */
}

.profile-section {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	width: 60vw;
	min-height: 60vh;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.profile-projects {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile-heading {
    padding: 20px 0px 10px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.icon {
    display: flex;
}

.second-heading {
    padding-top: 50px;
}

.profile-container {
    display: flex;
    align-items: flex-start;
}

.projects-container{
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.profile-icon {
    width: 75px;
    margin-right: 50px;
}

.profile-data {
    display: flex;
    flex-direction: column;
}

.profile-data-second {
    margin-left: 70px;
}

.profile-data h3 {
    font-size: 2rem;
    color: rgba(129, 0, 0, 0.7);
    font-weight: 400;
    padding-bottom: 10px;
}

.profile-data p {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.project-card-profile {
    padding: 30px;
}

.project-card {
    text-align: center;
}

@media (max-width: 1500px) {
    .profile-section {
        width: 70vw;
    }
}

@media (max-width: 1350px) {
    .profile-section {
        width: 80vw;
    }
}

@media (max-width: 700px) {
    .profile-icon {
        width: 45px;
        margin-right: 10px;
    }

    .profile-page h1 {
        font-size: 4.5rem;
    }

    .profile-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .profile-data-second {
        margin-left: 00px;
    }
}

@media (max-width: 550px) {
    .profile-icon {
        width: 35px;
    }

    .profile-page h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 500px) {
    .profile-section {
        width: 70vw;
    }

    .project-card {
        width: 300px;
    }

    .project-card img {
        width: 300px;
    }
}

@media (max-width: 450px) {
    .profile-section {
        width: 80vw;
    }
}